<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Project name</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="{{is_active currentUrl "/" "active"}}"><a href="/">Home</a></li>
        <li class="{{is_active currentUrl "/api" "active"}}"><a href="/api">API Browser</a></li>
        <li class="{{is_active currentUrl "/contact" "active"}}"><a href="/contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if user}}
          <li class="dropdown {{is_active currentUrl '/account,/manageSomething' 'active'}}">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
              {{#if user.profile.picture}}
                <img class="profile-image" src="{{{user.profile.picture}}}" />
              {{else}}
                <img class="profile-image" src="{{gravatar user size='60'}}" />
                {{get_name user}}
              {{/if}}
              <i class="caret"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/account">My Account</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        {{else}}
          <li class="{{is_active currentUrl "/login" "active"}}"><a href="/login">Login</a></li>
          {{#if secrets.localAuth}}
            <li class="{{is_active currentUrl "/signup" "active"}}"><a href="/signup">Create Account</a></li>
          {{/if}}
        {{/if}}
      </ul>
    </div>
  </div>
</div>